<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ .Site.BaseURL }}/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ .Site.BaseURL }}/text.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ .Site.BaseURL }}/blog-post.css"
    />
  </head>

  <body>
    <header>{{ partial "header" .}}</header>
    <main>
      <div class="container split">
        <div class="main">{{ block "main" . }} {{ end }}</div>
      </div>
    </main>
    <footer>{{ partial "footer" . }}</footer>
  </body>
</html>
