<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MRX6LR2ESY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MRX6LR2ESY");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ $.Site.Data.site.title }}{{ if .Page.Title }} | {{ end}} {{ .Page.Title }}</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    {{ partial "header" . }}
    <main>{{ block "main" . }} {{ end }}</main>
    {{ partial "footer" . }}
  </body>
</html>
