{{ define "main" }}
<div class="container">
  <h1>Hi, I'm Jacob Bas!</h1>
</div>

<div class="about-me">
  <div class="container">
    <p>{{ $.Site.Data.author.about_me }} Click <a href="/about">here</a> to learn more about me!</p>
  </div>
</div>


<div class="blog">
  <div class="container">
    <h2>Recent Blog Posts</h2>
    <div class="posts">
      {{ $v1 := where .Site.Pages "Section" "posts" }} 
      {{ $v2 := where .Site.Pages "Kind" "page" }} 
      {{ $filtered := $v1| intersect $v2 }} 
      {{ range $filtered }}
        {{ $elements := index (split .CurrentSection "/") }}
        {{ $section := index $elements (sub (len $elements) 2) }}
        {{ if eq $section "blog" }}
          <div class="post">
            <h3>
              <a href="{{ .File.Dir }}{{ .File.TranslationBaseName }}">{{ .Params.title }}</a>
            </h3>
            <span class="date">{{ time.Format "Jan 2, 2006" .Params.date }}</span>
            <p>{{ if .Params.description }} {{ .Params.description }} {{ end }}</p>
            <a href="{{ .File.Dir }}{{ .File.TranslationBaseName }}">Read more ...</a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="container">
    <h2>Public Learning</h2>
    <div class="posts">
      {{ $v1 := where .Site.Pages "Section" "posts" }} 
      {{ $v2 := where .Site.Pages "Kind" "page" }} 
      {{ $filtered := $v1| intersect $v2 }} 
      {{ range $filtered }}
        {{ $elements := index (split .CurrentSection "/") }}
        {{ $section := index $elements (sub (len $elements) 2) }}
        {{ if eq $section "public-learning" }}
          <div class="post">
            <h3>
              <a href="{{ .File.Dir }}{{ .File.TranslationBaseName }}">{{ .Params.title }}</a>
            </h3>
            <span class="date">{{ time.Format "Jan 2, 2006" .Params.date }}</span>
            <p>{{ if .Params.description }} {{ .Params.description }} {{ end }}</p>
            <a href="{{ .File.Dir }}{{ .File.TranslationBaseName }}">Read more ...</a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
