{{ define "main" }}
<section class="posts">
  <h2 class="display display-1">Blog Posts</h2>
  {{ range (where .Site.Pages "Kind" "page") }}
  <div class="post-preview">
    <h3 class="display display-3 text-italic text-700">
      <a href="{{ .File.Dir }}{{ .File.TranslationBaseName }}/">{{ .Title }}</a>
    </h3>
    <p class="preview">
      {{ .Params.desc }}

      <a
        class="text-700 text-italic text-blue"
        href="{{ .File.Dir }}{{ .File.TranslationBaseName }}/"
        >read more...</a
      >
    </p>
  </div>
  {{ end }}
</section>
{{ end }}
