.blog-post a {
  font-weight: 800;
  font-style: italic;
}

.blog-post a:hover {
  text-decoration: underline;
}

.blog-post .hightlight {
  overflow: auto !important;
  position: relative !important;
}

.blog-post .highlight pre,
.blog-post pre {
  padding: 1.25rem 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--black-800);
  border-radius: 6px;
}

.blog-post .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.blog-post pre code {
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  color: #f8f6ee;
}

.blog-post #TableOfContents {
  margin: 1rem 0 3rem 0;
  padding: 1rem;
  background-color: var(--gray3);
  border: 1px solid var(--gray2);
  border-radius: 4px;
}

.blog-post #TableOfContents ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.blog-post #TableOfContents li a {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog-post #TableOfContents li li a {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 1.5rem;
}
